src/main/resource/META-INF/ucc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.louch2010.com/schema/ucc"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.louch2010.com/schema/ucc">

	<xsd:element name="config">
		<xsd:complexType>
			<!-- <xsd:sequence>
				<xsd:element name="sources" maxOccurs="1" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="source" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
							      <xs:attribute name="path" use="required" type="xsd:string" />
							    </xs:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence> -->
			<xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
			<xsd:attribute name="appId" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="serverHost" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="cacheDir" type="xsd:string" use="optional"></xsd:attribute>
			<xsd:attribute name="syncInterval" type="xsd:int" use="optional"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>  